@media screen and (max-width: 992px) {
    .info-principal {
        margin: 65px 35px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
        position: relative;
    }

    .container-principal {
        background: none;
    }

    .info-principal {
        align-items: center;
        max-width: 600px;
    }

    .logo-container {
        width: 100%;
        margin-bottom: 345px;
    }

    .logo-container img {
        max-width: 100px;
    }

    .info-container {
        text-align: center;
        gap: 16px;
    }

    .info-container h1 {
        font-size: 2.5rem;
    }

    .email-container {
        width: 100%;
        max-height: 45px;
    }

    .email-container .email {
        padding: 15px 125px 15px 25px;
    }

    .email-container .email::placeholder {
        font: 400 0.875rem var(--font-principal);
        color: var(--color-primary-soft);
    }

    .email-container .btn {
        max-width: 65px;
    }

    .image-principal {
        position: absolute;
        transform: translateY(135px);
    }

    .image-principal img {
        content: url('../images/hero-mobile.jpg');
        max-width: 576px;
        width: 100%;
        max-height: 250px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}