@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: var(--font-principal);
    font-size: 1rem;
}

.container {
    max-width: 1440px;
    min-width: 375px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.container-principal {
    background: url('../images/bg-pattern-desktop.svg') no-repeat;
    background-size: cover;
    width: 100%;
}

.info-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 27.8125rem; /* 445px */
    margin: 4.0625rem auto; /* 65px */
}

.logo-container {
    width: 100%;
    margin-bottom: 8.3125rem; /* 133px */
}

.logo-container img {
    max-width: 9.8125rem; /* 157px */
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem; /* 25px */
    margin-bottom: 2.5rem; /* 40px */
}

.info-container h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: 1rem;
    color: var(--color-neutral);
}

.info-container h1 span {
    font-weight: 300;
    color: var(--color-primary-soft);
}

.info-container p {
    font-weight: 400;
    line-height: 170%;
    color: var(--color-primary-soft);
}

.email-container {
    display: flex;
    position: relative;
    max-height: 3.4375rem; /* 55px */
    width: 100%;
    height: 100%;
}

.email-container .email {
    width: 100%;
    border: 1px solid var(--color-primary-soft);
    border-radius: 1.875rem; /* 30px */
    padding: 1.25rem 8.125rem 1.25rem 1.875rem; /* 20px 130px 20px 30px */
}

.email-container .email:focus {
    outline: none;
    border: 2px solid var(--color-primary-dark);
}

.email-container .email::placeholder {
    font: 400 1rem var(--font-principal);
    color: var(--color-primary-soft);
}

.email-container .email:focus::placeholder {
    opacity: 0;
}

.email-container .btn {
    max-width: 6.25rem; /* 100px */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    border-radius: 1.875rem; /* 30px */
    border: none;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    text-align: center;
    cursor: pointer;
}

.email-container .btn img {
    max-width: 0.5625rem; /* 9px */
    width: 100%;
    max-height: 1.125rem; /* 18px */
    height: 100%;
}

.image-principal {
    max-width: 610px;
    width: 100%;
}

.image-principal img {
    max-width: 610px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* JS Classes para estados de erro */
.email-container .error-mensage {
    position: absolute;
    color: var(--color-primary-dark);
    font: 400 14px var(--font-principal);
    left: 30px;
    bottom: -25px;
}

.email-container.error {
    position: relative;
}

.email-container.error::after {
    content: '';
    background: url('../images/icon-error.svg') no-repeat center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
}

.email.input-error {
    border: 2px solid var(--color-primary-dark);
}

.btn.btn-error {
    background-image: linear-gradient(135deg, hsl(0, 100%, 98%), #f8bfbf);
    box-shadow: 0 0.9375rem 1.25rem rgba(198, 110, 110, 0.247); /* 15px 20px */
    transition: all 0.3s ease;
}

.btn.btn-error:hover {
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    transform: translate(-100%, -50%) scale(1.02);
}